<!-- <div class="text-center"> -->
<!--   <button (click)="refresh_papers()">Refresh Papers</button> -->
<!--   <button (click)="refresh_record()">Refresh Record</button> -->
<!-- </div> -->

<!-- <div class="card mx-auto mt-4" style="width: 28rem;"> -->
<div class="card mx-auto mt-4">
  <div class="card-header text-center text-primary">
    <h3>Resources</h3>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex" *ngFor="let paper of papers()">
      <span class="mt-auto" *ngIf="paper.complete">✅</span>
      <span class="mt-auto" *ngIf="!paper.complete">❎</span>
      <a class="nav-link mx-2 text-truncate"
        *ngIf="paper.resource.resource_type === 'slides' || paper.resource.resource_type === 'module'"
        [routerLink]="['/module/slider', paper.id]">
        <span class="lead">{{ paper.resource.title }} - {{ paper.resource.id }}</span>
      </a>

      <a class="nav-link mx-2 text-truncate"
        *ngIf="paper.resource.resource_type === 'form'"
        [routerLink]="['/module/forms', paper.id]">
        <span class="lead">{{ paper.resource.title }} - {{ paper.resource.id }}</span>
      </a>
      <span class="mt-auto ms-auto text-success">{{ paper.resource.resource_type }}</span>
    </li>
  </ul>
</div>
