<div class="text-center">
  <button (click)="refresh_papers()">Refresh Papers</button>
  <button (click)="refresh_record()">Refresh Record</button>
</div>

<div class="card mx-auto mt-4" style="width: 28rem;">
  <div class="card-header text-center text-primary">
    <h3>Resources</h3>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex" *ngFor="let paper of papers()">
      <span *ngIf="paper.complete">✅</span>
      <span *ngIf="!paper.complete">❎</span>
      <a class="nav-link"
        *ngIf="paper.resource.resource_type === 'slides' || paper.resource.resource_type === 'module'"
        [routerLink]="['/module/slider', paper.id]">
        <span class="lead ms-4"> {{ paper.resource.title }}</span>
      </a>

      <a class="nav-link"
        *ngIf="paper.resource.resource_type === 'form'"
        [routerLink]="['/module/forms', paper.id]">
        <span class="lead ms-4"> {{ paper.resource.title }}</span>
      </a>
      <span class="lead ms-auto me-2 text-success" style="--bs-text-opacity: .7;"> {{ paper.resource.resource_type }}</span>
    </li>
  </ul>
</div>
